# Переадресация всех запросов на публичную папку Laravel
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Убедитесь, что запрос направлен в папку public
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>
