# Переадресация всех запросов на index.php внутри public
<IfModule mod_rewrite.c>
    RewriteEngine On

    # Убедитесь, что запрос не направлен на существующий файл или директорию
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # Переадресация всех других запросов на index.php
    RewriteRule ^ index.php [L]
</IfModule>