:root {
    --color-main: #B0CB1F;
    --color-main-dark: #8CA218;
    --color-danger: #990000;
    --color-success: #009900;
}

body {
    background: #111111;
    color: #dddddd;
}

p {
    color: #dddddd;
}

.color-main {
    color: var(--color-main)
}

.color-danger {
    color: var(--color-danger)
}

.color-success {
    color: var(--color-success)
}

#sidebar {
    background-color: #222222;
}

a,h1,h2,h3,h4,h5,h6 {
    color: var(--color-main);
}

a:hover {
    color: var(--color-main-dark) !important;
    border-bottom-color: var(--color-main-dark);
}

#menu ul a,
#menu ul span {
    color: #dddddd;
}

#menu ul a:hover,
#menu ul span:hover {
    color: var(--color-main) !important;
}

#menu ul a.opener:hover:before,
#menu ul span.opener:hover:before {
    color: var(--color-main);
}

#header,
header.major > :last-child {
    border-bottom: solid 3px var(--color-main);
}

input[type="submit"].primary,
input[type="reset"].primary,
input[type="button"].primary,
button.primary,
.button.primary {
    background-color: var(--color-main);
}

input[type="submit"].primary:hover,
input[type="reset"].primary:hover,
input[type="button"].primary:hover,
button.primary:hover,
.button.primary:hover {
    background-color: var(--color-main-dark);
}

.small {
    color: #aaa;
}

.royalty .royalty-day-of-week {
    background: rgba(176, 203, 31, 0.2);
}

.royalty td b {
    color: #ddd;
}
